body {
    margin: 0px;
}
#ad {
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    width: 298px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner {
	visibility:hidden;
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    background-color: #FFF;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
	cursor:pointer;
}

#people {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/people.png");
}

#people2 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
	opacity:0;
	filter: alpha(opacity=0);
    background-image: url("../images/people2.png");
}

#bluestripe {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/bluestripe.png");
}

#logo {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/logo.png");
}

#text1 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/text1.png");
}

#text2 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/text2.png");
}

#text3 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/text3.png");
}

#car {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/car.png");
}

#swift-gl {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/swift-gl.png");
}

#logo2 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/logo2.png");
}

#manual-from {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/manual-from.png");
}

#price1 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/price1.png");
}

#save-1000 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/save-1000.png");
}

#cta {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/cta.png");
}
  
#swift-gl-auto {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/swift-gl-auto.png");
}

#auto-from {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/auto-from.png");
}

#price2 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/price2.png");
}

#save-500 {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    left:0;
	top:0;
    background-image: url("../images/save-500.png");
}