@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}


/* Div layer for the entire banner. */
#container_dc {
	background-color: #000000;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


/* Collapsed */


#collapse_content {

	z-index: 100;
	display: none;
	background-color: #000000;
	cursor: pointer;
}


.clm-container, #border-collapsed, #collapse_content {
	width: 300px;
	height: 250px;
}

.hero, .hero-container, .image-container  {
	width: 300px;
	height: 130px;
}


.hero-container {
	position: absolute;
	top: 40px;
	left: 0px;
	overflow: hidden;
}

#expand {
	background: #02A0D7;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,0.5); /*top internal highlight*/
	width: 141px;
	height: 32px;
	position: absolute;
	left: 17px;
	top: 193px;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0;
}

#expand img {
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
}

#expand:hover {
	background: #3ca7d9;
}


/* Expanded */

#expanded_content {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 200;
	background-color: #000000;
	display:none;
}

.expanded-container, #expanded_content, #clicktag {
	width: 970px;
	height: 640px;
}

#gallery {
	position: absolute;
	left: 0px;
	top: 40px;
	width: 970px;
	height: 365px;
	overflow: hidden;
}

#feature {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 822px;
	height: 366px;
	overflow: hidden;
	cursor: pointer;
}

.feature-container {
	position: absolute;
	left: 0px;
	top: 160px;
	width: 822px;
	height: 0px;
	overflow: hidden;
}

.feature-image {
	position: absolute;
	left: 0px;
	top: -160px;
}

#thumbnails {
    position: absolute;
    left: 822px;
    top: 0px;
    width: 148px;
    height: 368px;
    overflow: hidden;
}

.thumbnail {
	width: 148px;
	height: 91px;
	overflow: hidden;
	opacity: 0.5;
	transition: 0.5s;
	cursor: pointer;
}

.thumbnail:hover {
	opacity: 1;
}

.img-thumb {
	height: 100%;
	margin-left: -20px;


}

.thumb-border {
	position: absolute;
	width: 148px;
	height: 91px;
	border: 3px #fff solid;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	opacity: 0;
	transition: 0.5s;
}

.selected {
	opacity: 1;
}

#cta {
	background: #02A0D7;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,0.5); /*top internal highlight*/
	width: 122px;
	height: 32px;
	position: absolute;
    left: 33px;
    top: 523px;
	cursor: pointer;
	transition: 0.5s;
}

#cta:hover {
	background: #3ca7d9;
}

#clicktag {
	background-image: url("../imgs/1x1.png");
	background-repeat: repeat;
	cursor: pointer;
}

#collapse-button {
	position:absolute;
	top: 0px;
    left: 931px;
	cursor: pointer;
	z-index:900;
}

/* Shared */

#clm-border, #hero, .clm-container, #border-collapsed, #collapse_content, .expanded-container, #clicktag {
	position: absolute;
	left: 0px;
	top: 0px;
}

.border {
	border: 1px solid #999999;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}





/* portrait */
@media screen and (orientation:portrait) { /* portrait-specific styles */
}

/* landscape */
@media screen and (orientation:landscape) { /* landscape-specific styles */
}

