
body{
  margin:0px;
}

#ad{
   display: block;
   overflow:hidden;
   width: 300px;
   height: 600px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#banner{
  position:absolute;
  display: block;
  width: 300px;
   height: 600px;
  background-position: 0px 0px;
  background-repeat:no-repeat;
  overflow: hidden;
}

.button {
	position: absolute;
	width: 300px;
   height: 600px;
	top: 0px;
	left:0px;
	z-index:15;
}


.background{
  position:absolute;
  width: 300px;
   height: 600px;
   background-image:url(images/background.jpg);
  background-color:#FFFFFF;
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:2;
}

#cars{
  position:absolute;
  width: 298px;
   height: 598px;
  left: 1px;
  top: 1px;
}

.lockup{
  position:absolute;
  width: 300px;
   height: 600px;
   background-image:url(images/lockup.png);
  left: 0px;
  top: 0px;
  opacity:0;
  z-index:500;
}

.copyOne{
  position:absolute;
  width: 300px;
   height: 600px;
  background-image:url(images/copyOne.png);
  left: 0px;
  top: 10px;
  opacity:0;
  z-index:5;
}

.copyThree{
  position:absolute;
  width: 300px;
   height: 600px;
  background-image:url(images/copyThree.png);
  left: 0px;
  top: 0px;
  opacity:0;
  z-index:5;
}

.copyFour{
  position:absolute;
  width: 300px;
   height: 600px;
  background-image:url(images/copyFour.png);
  left: 0px;
  top: 0px;
  opacity:0;
  z-index:5;
}

#disclaimer{
  position:absolute;
  width: 300px;
  height: 393px;
  background-image:url(images/disclaimer.png);
  left: 0px;
  bottom: -380px;
  z-index:500;
  cursor:pointer;
}

/* C A R S */

.car_juke{
  background-image:url(images/car_juke.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.car_micra{
  background-image:url(images/car_micra.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.car_navara{
  background-image:url(images/car_navara.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.car_pathfinder{
  background-image:url(images/car_pathfinder.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.car_pulsar{
  background-image:url(images/car_pulsar.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.car_qashqai{
  background-image:url(images/car_qashqai.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.car_x-trail{
  background-image:url(images/car_x-trail.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#car_qashqai_1{
  position:absolute;
  width: 258px;
  height: 147px;
    left: -78px;
    top: 475px;
  opacity:1;
  z-index:200;
}

#car_navara_1{
  position:absolute;
  width: 241px;
  height: 154px;
    left: 83px;
    top: 467px;
  opacity:1;
  z-index:199;
}

#car_x-trail_1{
  position:absolute;
  width: 196px;
  height: 122px;
  left: -30px;
  top: 397px;
  opacity:1;
  z-index:198;
}

#car_pathfinder_1{
  position:absolute;
  width: 226px;
  height: 120px;
  left: 122px;
  top: 419px;
  opacity:1;
  z-index:197;
}

#car_juke_1{
  position:absolute;
  width: 207px;
  height: 125px;
  left: -127px;
  top: 319px;
  opacity:1;
  z-index:196;
}

#car_pulsar_1{
  position:absolute;
  width: 215px;
  height: 100px;
  left: 13px;
  top: 354px;
  opacity:1;
  z-index:195;
}

#car_x-trail_2{
  position:absolute;
  width: 177px;
  height: 122px;
  left: 184px;
  top: 355px;
  opacity:1;
  z-index:194;
}

#car_micra_1{
  position:absolute;
  width: 143px;
  height: 115px;
  left: -39px;
  top: 279px;
  opacity:1;
  z-index:193;
}

#car_navara_2{
  position:absolute;
  width: 208px;
  height: 154px;
  left: 2px;
  top: 273px;
  opacity:1;
  z-index:192;
}

#car_pathfinder_2{
  position:absolute;
  width: 192px;
  height: 154px;
  left: 141px;
  top: 285px;
  opacity:1;
  z-index:191;
}

#car_x-trail_3{
  position:absolute;
  width: 184px;
  height: 154px;
  left: -84px;
  top: 192px;
  opacity:1;
  z-index:190;
}

#car_qashqai_2{
  position:absolute;
  width: 225px;
  height: 147px;
  left: 13px;
  top: 199px;
  opacity:1;
  z-index:189;
}

#car_micra_2{
  position:absolute;
  width: 143px;
  height: 115px;
  left: 214px;
  top: 230px;
  opacity:1;
  z-index:188;
}

#car_pulsar_2{
  position:absolute;
  width: 215px;
  height: 100px;
  left: -59px;
  top: 133px;
  opacity:1;
  z-index:187;
}

#car_navara_3{
  position:absolute;
  width: 191px;
  height: 154px;
  left: 127px;
  top: 142px;
  opacity:1;
  z-index:186;
}

#car_micra_3{
  position:absolute;
  width: 133px;
  height: 115px;
  left: 47px;
  top: 97px;
  opacity:1;
  z-index:185;
}

#car_pathfinder_3{
  position:absolute;
  width: 192px;
  height: 154px;
  left: 122px;
  top: 87px;
  opacity:1;
  z-index:184;
}

#car_x-trail_4{
  position:absolute;
  width: 162px;
  height: 154px;
  left: -59px;
  top: 39px;
  opacity:1;
  z-index:183;
}

#car_juke_2{
  position:absolute;
  width: 141px;
  height: 125px;
  left: 47px;
  top: 37px;
  opacity:1;
  z-index:182;
}

#car_pulsar_3{
  position:absolute;
  width: 179px;
  height: 100px;
  left: 137px;
  top: 47px;
  opacity:1;
  z-index:181;
}

#car_qashqai_3{
  position:absolute;
  width: 167px;
  height: 147px;
  left: -47px;
  top: -26px;
  opacity:1;
  z-index:180;
}

#car_navara_4{
  position:absolute;
  width: 160px;
  height: 154px;
  left: 88px;
  top: -30px;
  opacity:1;
  z-index:179;
}

#car_qashqai_4{
  position:absolute;
  width: 150px;
  height: 147px;
  left: 213px;
  top: -5px;
  opacity:1;
  z-index:178;
}


/*
#car_qashqai_1{
  position:absolute;
  width: 258px;
  height: 147px;
    left: -78px;
    top: 475px;
  opacity:0;
  z-index:200;
}

#car_navara_1{
  position:absolute;
  width: 241px;
  height: 154px;
    left: 83px;
    top: 467px;
  opacity:0;
  z-index:199;
}

#car_x-trail_1{
  position:absolute;
  width: 196px;
  height: 122px;
  left: -30px;
  top: 397px;
  opacity:0;
  z-index:198;
}

#car_pathfinder_1{
  position:absolute;
  width: 226px;
  height: 120px;
  left: 122px;
  top: 419px;
  opacity:0;
  z-index:197;
}

#car_juke_1{
  position:absolute;
  width: 207px;
  height: 125px;
  left: -127px;
  top: 319px;
  opacity:0;
  z-index:196;
}

#car_pulsar_1{
  position:absolute;
  width: 215px;
  height: 100px;
  left: 13px;
  top: 354px;
  opacity:0;
  z-index:195;
}

#car_x-trail_2{
  position:absolute;
  width: 177px;
  height: 122px;
  left: 184px;
  top: 355px;
  opacity:0;
  z-index:194;
}

#car_micra_1{
  position:absolute;
  width: 143px;
  height: 115px;
  left: -39px;
  top: 279px;
  opacity:0;
  z-index:193;
}

#car_navara_2{
  position:absolute;
  width: 208px;
  height: 154px;
  left: 2px;
  top: 273px;
  opacity:0;
  z-index:192;
}

#car_pathfinder_2{
  position:absolute;
  width: 192px;
  height: 154px;
  left: 141px;
  top: 285px;
  opacity:0;
  z-index:191;
}

#car_x-trail_3{
  position:absolute;
  width: 184px;
  height: 154px;
  left: -84px;
  top: 192px;
  opacity:0;
  z-index:190;
}

#car_qashqai_2{
  position:absolute;
  width: 225px;
  height: 147px;
  left: 13px;
  top: 199px;
  opacity:0;
  z-index:189;
}

#car_micra_2{
  position:absolute;
  width: 143px;
  height: 115px;
  left: 214px;
  top: 230px;
  opacity:0;
  z-index:188;
}

#car_pulsar_2{
  position:absolute;
  width: 215px;
  height: 100px;
  left: -59px;
  top: 133px;
  opacity:0;
  z-index:187;
}

#car_navara_3{
  position:absolute;
  width: 191px;
  height: 154px;
  left: 127px;
  top: 142px;
  opacity:0;
  z-index:186;
}

#car_micra_3{
  position:absolute;
  width: 133px;
  height: 115px;
  left: 47px;
  top: 97px;
  opacity:0;
  z-index:185;
}

#car_pathfinder_3{
  position:absolute;
  width: 192px;
  height: 154px;
  left: 122px;
  top: 87px;
  opacity:0;
  z-index:184;
}

#car_x-trail_4{
  position:absolute;
  width: 162px;
  height: 154px;
  left: -59px;
  top: 39px;
  opacity:0;
  z-index:183;
}

#car_juke_2{
  position:absolute;
  width: 141px;
  height: 125px;
  left: 47px;
  top: 37px;
  opacity:0;
  z-index:182;
}

#car_pulsar_3{
  position:absolute;
  width: 179px;
  height: 100px;
  left: 137px;
  top: 47px;
  opacity:0;
  z-index:181;
}

#car_qashqai_3{
  position:absolute;
  width: 167px;
  height: 147px;
  left: -47px;
  top: -26px;
  opacity:0;
  z-index:180;
}

#car_navara_4{
  position:absolute;
  width: 160px;
  height: 154px;
  left: 88px;
  top: -30px;
  opacity:0;
  z-index:179;
}

#car_qashqai_4{
  position:absolute;
  width: 150px;
  height: 147px;
  left: 213px;
  top: -5px;
  opacity:0;
  z-index:178;
}

*/

#cars {position:absolute}