/* Variabes */
/* Mixin's */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
}

#expansion {
  background: url("../img/background.jpg") left center no-repeat;
  background-size: contain;
  border: 1px solid #000;
  width: 600px;
  height: 350px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  text-transform: uppercase;
}

#seconds, #tens {
    font-size: 16px;
    padding-top: 21px;
    display: inline-block;
}

#closeButton {
    position: absolute;
    top: 0px;
    left: 579px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#facebook {
    position: absolute;
    top: 186px;
    left: 555px;
    background: url(../img/facebook.png);
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#instagram {
    position: absolute;
    top: 155px;
    left: 556px;
    background: url(../img/instagram.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#youtube {
    position: absolute;
    top: 220px;
    left: 555px;
    background: url(../img/youtube.png);
    background-size: contain;
    width: 30px;
    height: 30px;
}

#replay {
    display: none;
    background: url(../img/replay.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 547px;
    top: 255px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#message-1, #message-2, #message-3, #message-4 {
  position: absolute;
  width: 600px;
  height: 70px;
  top: 0;
  left: 0;
  margin: 0;
}

#callout {
  position: absolute;
  width: 600px;
  height: 80px;
  top: 0;
  left: 0;
  margin: 0;
  background: url(../img/callout.png);
}

#cta {
    position: absolute;
    display: none;
    width: 413px;
    height: 238px;
    top: 91px;
    left: 91px;
    margin: 0;
    background: url(../img/cta2.png);
    cursor: pointer;
}

#message-1 {background: url(../img/text_1.png)}
#message-2 {background: url(../img/text_2.png)}
#message-3 {background: url(../img/text_3.png)}
#message-4 {background: url(../img/text_4.png)}

#timer {
    display: none;
    height: 70px;
    position: absolute;
    left: 550px;
    top: 264px;
}

#text {
    top: 24px;
    width: 560px;
    position: absolute;
    font-size: 24px;
    left: 227px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#container {
  width: 480px;
  margin: 80px auto 0 auto;
}

#container:after {
  content: "";
  display: table;
  clear: both;
}

[data-view="card"] {
    transform: rotateY(180deg);
    width: 70px;
    height: 120px;
    border: solid 0px #d3cece;
    border-radius: 5px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 11px;
    cursor: pointer;
    background: url("../img/card_back.png") left center no-repeat;
    background-size: contain;
}

.flipped {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

.reverse {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.correct {
/*  opacity: .5;*/
  cursor: default;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
}

/* Twozies */
.correct[data-item="t1"],
.flipped[data-item="t1"] {
  background: url("../img/t1.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t2"],
.flipped[data-item="t2"] {
  background: url("../img/t2.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t3"],
.flipped[data-item="t3"] {
  background: url("../img/t3.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t4"],
.flipped[data-item="t4"] {
  background: url("../img/t4.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t5"],
.flipped[data-item="t5"] {
  background: url("../img/t5.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t6"],
.flipped[data-item="t6"] {
  background: url("../img/t6.png") left center no-repeat #fff;
  background-size: contain;
}

/* Pets */
.correct[data-item="t1a"],
.flipped[data-item="t1a"] {
  background: url("../img/t1a.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t2a"],
.flipped[data-item="t2a"] {
  background: url("../img/t2a.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t3a"],
.flipped[data-item="t3a"] {
  background: url("../img/t3a.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t4a"],
.flipped[data-item="t4a"] {
  background: url("../img/t4a.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t5a"],
.flipped[data-item="t5a"] {
  background: url("../img/t5a.png") left center no-repeat #fff;
  background-size: contain;
}

.correct[data-item="t6a"],
.flipped[data-item="t6a"] {
  background: url("../img/t6a.png") left center no-repeat #fff;
  background-size: contain;
}