body {
  font-family: Arial, sans-serif;
}



button:hover, button:active {
  color: #FAF000;
}

button:active {
  font-size: 11px;
}
.label {

  position: absolute;
  margin-left: 10px;
  top: 35px;
}

body{
  margin:0px;
}

#ad{
   display: block;
   overflow:hidden;
   width: 320px;
   height: 250px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#banner{
  position:absolute;
  display: block;
  width: 320px;
  height: 250px;
  background-position: 0px 0px;
  background-repeat:no-repeat;
  overflow: hidden;
}

.button {
	position: absolute;
	 width: 320px;
     height: 250px;
	top: 0px;
	left:0px;
	 z-index:26;
	 cursor:pointer;
}

.cta {
  position:absolute;
  width: 320px;
  height: 250px;
  background-image:url(images/cta.png);
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:27;
  opacity:0;
  cursor:pointer;
}

.cta:hover {
  position:absolute;
  width: 320px;
  height: 250px;
  background-image:url(images/ctaHover.png);
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:28;
  opacity:0;
  cursor:pointer;
}

.background {
  position:absolute;
  width: 320px;
  height: 250px;
  background-image:url(images/background.jpg);
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:1;
}


.copyOne {
  position:absolute;
  width: 320px;
  height: 250px;
  background-image:url(images/copyOne.png);
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:12;
  opacity:0;
}


.logoandbg {
  position:absolute;
  width: 320px;
  height: 250px;
  background-image:url(images/logoanddisclaimer.png);
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:2;
  opacity:0;
}

.close_btn_dc{
	width: 20px;
	height: 20px;
	top: 5px;
	left: 294px;
	cursor: pointer;
	position: absolute;
	background-image: url('close.png');
	background-repeat: no-repeat;
	z-index: 220;
    padding:0;
    margin:0;
    border:0;
}