.list {
    padding: 50px;
    text-align: center;
  }

  /* .photo {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
  } */

  .photoLink {
    color: #333;
    verticalAlign: middle;
    cursor: pointer;
    background: #eee;
    display: inline-block;
    width: 250px;
    height: 250px;
    line-height: 250px;
    margin: 10px;
    border: 2px solid transparent;
  }

  .photoLink:hover {
    borderColor: blue;
  }