@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 20px;
  /* webkit-font-smoothing: antialiased; */
  line-height: 1.3;
  background-color: #212c40;
}

a {
  /* color: #E94969; */
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.skillz {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-items: center;
  height: auto;
  overflow: hidden;
}

.skillz p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 50px 0;
  max-width: 1000px;
  text-align: center;
}

.zContainer {
  position: absolute;
  z-index: 20;
  background-color: #212c40;
  width: 100%;
  margin-top: -50px;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 40px; */
  row-gap: 140px;
  column-gap: 40px;
  justify-items: center;
  height: auto;
  overflow: hidden;
}

.italica {
  color: #ccc !important;
  font-style: italic;
}

.Cards {
  /* position: absolute;
  z-index: 20; */

  width: 100%;
  margin-top: -50px;
}

@media (max-width: 1350px) {
  .CardGroup {
    row-gap: 100px;
  }
}

@media (max-width: 1200px) {
  .CardGroup {
    row-gap: 70px;
  }
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }

  .skillz p {
    margin: 0 40px 50px 40px;
  }

  #cardBanner {
    display: none;
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }

  .skillz p {
    font-size: 20px;
  }
}

h2 {
  margin: 50px 20px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: #5f8fd8;
  /* background: linear-gradient(104.74deg, #050A27 0%,#4A548C 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@media (max-width: 640px) {
  .CardGroup h2 {
    font-size: 30px;
  }
}

/* PORTFOLIO FILTER LINKS */

.current-filter {
  border-top: #000 1px solid !important;
}

.filter a {
  padding: 10px 20px;
  display: inline-block;
  color: #003;
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: #fff 1px solid;
  border-top: #fff 1px solid;
}
.filter a:hover {
  border-bottom: #000 1px solid;
  transition: all 0.2s;
}
.filter a:active {
  background: #999;
}
.filter {
  margin: 28px 0 10px 0;
  text-align: center;
}
