.Card {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;
  /* border-radius: 20px; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
}

.Card:hover {
  transform: scale(1, 1);
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  /* transform: translateY(-20px); */
}

.Card img {
  /* height: 110%; */
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card-info {
  padding: 20px 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  background: #1d8cc2;
  height: 250px;
}

.Card-info:hover {
  opacity: 1;
  background: #5f8fd8;
  height: 250px;
}

.Card p {
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  font-size: 18px;
  align-self: end;
  margin: 0 20px 0 20px;
}

.Card-label {
  color: #fff;
  font-size: 11px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}

.showModalStyle {
  display: block;
}

.hideModalStyle {
  display: none;
}
