.cta {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(233, 73, 105, 1);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 150px;
  margin: auto;
}

/* .cta:hover {
  background: rgba(95, 143, 216, 0);
} */
