.footer {
    background: url('../images/trianglify.svg');
    height: 520px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .footer svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .footerGroup {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
  }
  
  .footer h2 {
    margin: 0;
    color: #fff!important;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .footer p {
    color:#fff;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 69px;
  }

  @media (max-width: 640px) {
    .footerGroup {
      padding: 100px 20px;
    }
  

    .footer p {
      font-size: 24px;
    }
  }
  
.Logos img {
    outline: none;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.Logos img:hover {
    /* transform: translateY(-3px); */
    width: 50px;
}
  
  .footer .Logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    justify-items: center;
  }
  
  @media (max-width: 640px) {
    .footer .Logos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  #contact {
    height: 150px;
  }