.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.HeaderGroup {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: -5px;
}

.actionLink {
  margin-left: 30px;
  color: #fff;
  opacity: 0.9;
  /* transition: 0.4s; */
}

/* .actionLink:hover {
  color: #fff;
  transform: translateY(-3px);
} */

.Header a {
  /* color: #000; */
}

.Header button {
  padding: 8px 20px;
  font-size: 20px;
  background: #fff;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }

  /* .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  } */

  .sayHi {
    display: none;
  }
}
