.shim {
    position: fixed;
    background: rgba(29, 140, 194, .9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    text-align: center;
  }

  .photo {
    position: relative;
    margin-top: 100px;
    z-index: 80;
  }