body {
    margin: 0px;
}

div {
    position: absolute;
    display: block;
    width: 298px;
    height: 248px;
    left:0;
	top:0;
}

#ad {
    border: rgb(0, 0, 0) 1px solid;
    overflow: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#banner {
	visibility:hidden;
    background-color: #FFF;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
	cursor:pointer;
}

#copy1 {
    background-image: url("../images/copy1.png");
}

#copy2-cta {
    background-image: url("../images/copy2-cta.png");
}

#freeauto {
    background-image: url("../images/freeauto.png");
}

#freeauto-ef {
    background-image: url("../images/freeauto.png");
}

#freeautosm1 {
    background-image: url("../images/freeautosm.png");
}

#freeautosm2 {
    background-image: url("../images/freeautosm.png");
}

#freeautosm3 {
    background-image: url("../images/freeautosm.png");
}

#mustend {
    background-image: url("../images/mustend.png");
}

#price1 {
    background-image: url("../images/price1.png");
}

#price2 {
    background-image: url("../images/price2.png");
}

#price3 {
    background-image: url("../images/price3.png");
}

#sale {
    background-image: url("../images/sale.png");
}

#sale-ef {
    background-image: url("../images/sale.png");
}

#scross {
    background-image: url("../images/scross.png");
}

#scross {
    background-image: url("../images/scross.png");
}

#scrosslogo {
    background-image: url("../images/scrosslogo.png");
}

#swift {
    background-image: url("../images/swift.png");
}

#swiftlogo {
    background-image: url("../images/swiftlogo.png");
}

#vitara {
    background-image: url("../images/vitara.png");
}

#vitaralogo {
    background-image: url("../images/vitaralogo.png");
}