body {margin:0px;}
div {
	position:absolute;
	display:block;
	width: 298px;
    height: 248px;
}
#ad {
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner {
	visibility:hidden;
    background-color: #000;
	cursor:pointer;
}
#gradient {background-image:url(../img/gradient.png)}
#feature-list {background-image:url(../img/feature-list.png);height:500px!important;top:100px}
#letter-a {background-image:url(../img/letter-a.png)}
#letter-e {background-image:url(../img/letter-e.png)}
#letter-b {background-image:url(../img/letter-b.png)}
#copy1 {background-image:url(../img/copy1.png)}
#copy2 {background-image:url(../img/copy2.png)}
#copy3 {background-image:url(../img/copy3.png)}
#checker {background-image:url(../img/checker.png)}
#logo {background-image:url(../img/logo.png)}
#left-curve {background-image:url(../img/left-curve.png)}
#right-curve {background-image:url(../img/right-curve.png)}